@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #2287ff;
  --primary-font: "Roboto", sans-serif;
}
body {
  color: white;
  font-family: sans-serif;
}
